<div class="logo-container">
  <img src="/src/app/assets/JP-Logo_Big.png" alt="JP_LOGO" class="logo-jp" />
</div>
<mat-divider></mat-divider>
<button mat-button (click)="navegar('menu')">
  <mat-icon>local_hospital</mat-icon>
  Início
</button>
<button mat-button (click)="navegar('tela-inicial')">
  <mat-icon>local_hospital</mat-icon>
  BI
</button>
<button mat-button (click)="navegar('tela-inicial')">
  <mat-icon>local_hospital</mat-icon>
  Administração
</button>
<button mat-button (click)="navegar('tela-inicial')">
  <mat-icon>local_hospital</mat-icon>
  Geração de arquivos
</button>
<button mat-button (click)="navegar('tela-inicial')">
  <mat-icon>local_hospital</mat-icon>
  Regulação
</button>
<button mat-button (click)="navegar('tela-inicial')">
  <mat-icon>local_hospital</mat-icon>
  Painel de chamada
</button>